@page "/blog/{UrlHandle}"
@model Bloggie.Web.Pages.Blog.detailsModel
@{
    ViewData["Title"] = Model.BlogPost.PageTitle;
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            @if (Model.BlogPost != null)
            {
                <h1 class="mb-3">@Model.BlogPost.Heading</h1>

                <div class="d-flex justify-content-between">
                    <span class="text-secondary">@Model.BlogPost.Author</span>
                    <span class="text-secondary">@Model.BlogPost.PublishedDate.ToShortDateString()</span>
                </div>

                <div class="mb-3">
                    @if (Model.BlogPost.tags != null && Model.BlogPost.tags.Any())
                    {
                        foreach (var tag in Model.BlogPost.tags)
                        {
                            <a href="/tags/@tag.Name">
                                <span class="badge bg-dark">@tag.Name</span>
                            </a>
                        }
                    }
                </div>
                <div class="mb-3">
                    <span><i class="bi bi-hand-thumbs-up"></i>@Model.Likes likes	</span>
                </div>
	              <!-- Aquí podrías mostrar el contenido completo -->
                <img src="@Model.BlogPost.FeaturedImageUrl" alt="@Model.BlogPost.Heading" class="img-fluid mb-3" />
                <div class="mb-3 blog-details">

                    <p>@Html.Raw(Model.BlogPost.Content)</p>
                </div>
            }
            else
            {
                <h2>Blog post not found!</h2>
            }
        </div>
    </div>
</div>

